* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.staysContainer{
  width: 100%;
}


.staysFormsWrapper{
  display: grid;
  grid-template-columns: 3fr 2.5fr 2fr;
  height: 100%;
  padding-inline: 1.5rem;
  gap: 12px;
}

.staysBtn2{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 10px;
}


.staysBtn2 > div {
position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 0;
  cursor: pointer;
}




.staysLogo{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #343b53;
  padding-left:10px ;
  /* border: 1px solid rebeccapurple; */

}



.staysLogo1{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #343b53;
  padding-left:10px ;
  /* border: 1px solid rebeccapurple; */
  height: 100%;
}


.fistdiv{
  font-size: 1.2rem;
  color: #343b53;
  padding: 5px 0;

}

.staysFormsWrapper > div:first-child , .staysdivinput{
  display: flex;
  border: 1px solid #727483;  
  border-radius: 10px;
  gap: 20px;

}

.staysdivinput{
  padding: 5px 0;
}



 .staysinput{
  outline: none;
  height: 100%;
  font-weight: 600;
  font-size: 1.2rem;
}


.staysup{
  display: flex;
  flex-direction: column;
}


.staysBtn{
  text-align: left;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.staysBtn > h6 {
  /* border: 1px solid rebeccapurple ; */
  font-size: 0.8rem;
  color: #343b53;
}


.staysCheckbox{
  display: flex;
  padding-inline: 1.5rem;
  gap: 45px;
}

.staysExtraAddUp{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  color: #343b53;
  font-weight: 600;
}

.staysExtraAddUp > input {
  width: 1.1rem;
  height: 1.1rem;
}

.staysForm{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.staysFormSearch{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1.5rem;
}

.staysFormSearch >  button {
  width: 160px;
  height: 50px;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #3662d8;
  color: #fff;
  font-weight: 600;
}


.staysCalender{
  position: absolute;
  top:55px;
  z-index: 2;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background: #fff;
}


.staysCalender1{
  position: absolute;
  top:51px;
  z-index: 2;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media all and (max-width:978px){
 .staysFormsWrapper{
   grid-template-columns: repeat(1 , 1fr );
 }


 .staysCalender1{
  right: 15px;
}

 .staysBtn2 > button{
  padding: 2px 0px;
 }

 .staysdivinput{
  padding: 2px 0px;
 }
  
}

@media all and (max-width:575px){
  .staysFormSearch > button {
    width: 100%;
  }

  

  .staysCalender{
    position: absolute;
    top:55px;
    z-index: 2;
    left: -20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  
  
  .staysCalender1{
    position: absolute;
    top:51px;
    z-index: 2;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background: #fff;
  }


  .staysExtraAddUp{
    justify-content: space-around;
  }


  .staysExtraAddUp > p{
    font-size: 0.8rem;
  }

  .staysCheckbox{
    justify-content: space-between;
  }

  .staysCheckbox > input{
    width: 1rem;
  }


  .staysFormsWrapper{
    padding-inline: 1rem;
  }
  

 .staysFormSearch {
   padding-inline: 1rem;
 }
  
}



@media all and (max-width:575px){
   .staysCalender1{
    left: -180px;
   }
}

@media all and (max-width:400px){
  .staysCalender1{
   left: -170px;
  }
}
