.bg_img{
   background-image:url("https://a.travel-assets.com/travel-assets-manager/gmvd-1482-bookearly-emea/667x320.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   height: 200px;
   width: 80%;
}