.container{
    background-color: #f8f5f4;
    /* border:1px solid red ; */
    width: 97%;
    margin: auto;
   display: flex;
}

.contentDiv{
    
    /* border:1px solid red ; */
    width: 85%;
}
.advertiseDiv{
    /* border:1px solid rgb(132, 129, 129) ;    */
    width: 15%;
}
.dataDisplayContainer
{
    
   
    display: flex;
    justify-content: center;
   
    width: 100%;  
}
.filterContainer{
    
    width: 24%;
}
.displayListContainer{
   
    width: 71%;
}